{% extends "base/base.html" %}
{% load socialaccount %}

{% block content %}

{% if user.is_authenticated %}
    <p>Hello {{ user.username }}! This is your profile page.</p>
    {% if tasks_owned %}
        <p>Here are the tasks you own: </p>
        {% for task in tasks_owned %}
            <p> Title: {{ task.task_title }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <p>You are not logged in, please log in</p>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}

<p> Proving context works: {{ test }}</p>
<p> Hours Volunteered: {{ user.account.total_hours }}</p>
<p> Post Permission? {{ user.account.post_permission }}</p>
<p> Volunteer Level: {{ user.account.volunteer_level }}</p>

{%  endblock %}