{% extends "base/base.html" %}
{% block content %}

<h2>{{ task.task_title }}</h2>
<div class="row">
  <div class="col-md-6">
    <p>Task description: {{ task.task_description }}</p>
    <p>Posted on: {{ task.time_posted }}</p>
    <p>Address: {{ task.event_address }}</p>
    <p>Request for: {{ task.event_date }}</p>
    <p>I'll donate ${{ task.donation_amount }}</p>
  </div>
  <div class="col-md-6">
    <p>Registered volunteers</p>
    <ul>
      {% for volunteer in task.registered_accounts.all %}
      <li><a href="{% url 'project:profileview' volunteer.id %}">{{volunteer}}
        </a><span class="badge badge-info">{{volunteer.volunteer_level}}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if task.task_capacity <= task.num_volunteers %}
<p><strong>Task is full!</strong></p>
{% elif user.account in task.registered_accounts.all %}
<button href="" class=" btn btn-secondary" disabled>Registered!</button>
{% else %}
<a class="btn btn-secondary" href="{% url 'project:join' task.id %}">Volunteer for Task!</a>
{% endif %}

{% if task.owner == user.account %}

<a class="btn btn-primary" href="{% url 'project:edit' task.id %}">Update Task Details</a>
<a class="btn btn-danger" href="{% url 'project:delete' task.id %}">Delete Task</a>

{% else %}

{% endif %}

{% endblock %}